
* {
  box-sizing: border-box;
}
.row-events {
	float: left;
	position: relative;
	width: 100%;
	
}
.row-events:after {
  content: "";
  display: table;
  clear: both;
}
.col-events {
	float: left;
	width: 33.33%;
	position: relative;
	justify-content: center;
	text-align: center;
	padding: 5px;
}
.event-name {
	background: rgba(0,0,0,0.4);
	position: absolute;
	left: 50%;
	bottom: -9px;
	text-align: center;
	display: inline-block;
	float: left;
	width: 96%;
	transform: translate(-50%,-50%);
	font-size: 20px;
	font-family: georgia;
	padding: 0;
	color: white;
	padding: 5px;
}
@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}
.event-img {
	border-radius: 8px;
	float: left;
	width: 100%;
	min-height: 350px;
	object-fit: cover;

}
#events-img1 {
	cursor: pointer;
	transition: 0.3s;
}
.event-img:hover {
	opacity: 0.6;
}
.event-heading {
	display: inline-block;
	text-align: center;
	position: absolute;
	padding: 5px;
	color: red;
	bottom: 5px;
}
@media screen and (max-width: 600px) {
  .col-events {
    width: 100%;
  }
  .model-content{
	  width: 100%;
	  -webkit-transform: translate(-50%,-50%);
	  -ms-transform: translate(-50%) translateY(-50%);
  }
}

.modal-header, h4, .close {
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 30px;
  }
  .modal-footer {
    background-color: #f9f9f9;
  }
.modal-image {
	position: relative;
	width: 100%;
}
.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}